/* document-wide styles */

body {
    margin: 0px;
    font-family: monospace;
}

h1,
h2 {
    text-align: center;
    margin: 0 0 5px 0;
}

p {
    margin: 5px;
}

input {
    font-family: inherit;
    font-size: inherit;
}

.parse-err {
    text-align: center;
    color: red;
}

.fold-button {
    padding: 0 0.5em 0 0.3em;
    cursor: pointer;
    /* Browsers, why?!?!!?! */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.text-box-row {
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
}

/* One-off styles */

#comp-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.top-left-hud {
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffffee;
    border-radius: 0 0 5px 0;
    font-family: monospace;
}

#transpose-box {
    position: absolute;
    top: 100px;
    left: 100px;
    background: #ffffffee;
    border-radius: 5px;
    font-family: monospace;
    display: none;
}

#right-sidebar {
    min-width: 300px;
    position: absolute;
    right: 0px;
    top: 0px;
    max-height: 100%;
    overflow-y: auto;
}

.sidebar-box {
    background: #ffffffee;
    border-radius: 5px;
    font-family: monospace;
    margin: 5px;
    padding: 5px;
}

.method-fold-out {
    margin-left: 10px;
    border-left: 2px solid black;
    padding-left: 4px;
}

#delete-button {
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
    /* Browsers, why?!?!!?! */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
